<%- partial('../template/partials/header')%> 
<%- partial('../template/partials/navigation')%> 

<div class="intro-header" style="padding-top: 0px; padding-bottom: 0px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h3>About</h3>
                    <hr class="intro-divider" >
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
        	<div class="">
        		<h2>Project Purpose</h2>
        		<br/>
	        	<p class="text-justify">SGE is a schedule generation application that was developped in the context of SOEN 341 Software Processes. The goal of SGE (Schedule Generator) is to provide a better platform for students enrolled in the Computer Science and Software Engineering programs at Concordia University for online registration. SGE is a friendly, easy to use web-based application which generates schedules and saves time. It is a system that facilitates students’ life by first making their schedule initially based on the course sequence and then taking into account their preferences, such as schedules with most days off, preferred teacher, preferred time slot, desired courses, etc. Students would simply have to follow the steps for registration. Various schedules would be displayed depending on their personal preferences.</p>
	        	<br/>
	        	<h2>Who are we</h2>
	        	<br/>
	        	<p class="text-justify">
					<table cellpadding="0" cellspacing="0" class="table table-bordered table-condensed">
					   <tbody>
					      <tr>
					         <td class="c64">
					            <p class="c12 c46"><img height="148" src="images/ajay.png" width="148"></p>
					         </td>
					         <td class="c63">
					            <p class="c12 c46"><span>Aujla, Ajayveer</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c64">
					            <p class="c12 c46"><span class="c6">Student ID</span></p>
					         </td>
					         <td class="c63">
					            <p class="c18"><span>6595863</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c64">
					            <p class="c12 c46"><span class="c6">Role(s)</span></p>
					         </td>
					         <td class="c63">
					            <ul class="c36 lst-kix_u2m8twfhhgsg-0 start">
					               <li class="c15 c29"><span class="c41">Programmer</span></li>
					               <li class="c15 c29"><span class="c41">Documenter</span></li>
					               <li class="c15 c29"><span class="c41">Tester</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr>
					         <td class="c64">
					            <p class="c12 c46"><span class="c6">Technical Knowledge</span></p>
					         </td>
					         <td class="c63">
					            <ul class="c36 lst-kix_v7y9tdh2ny9t-0 start">
					               <li class="c15 c29"><span>Java (intermediate)</span></li>
					               <li class="c15 c29"><span>JavaScript (intermediate)</span></li>
					               <li class="c15 c29"><span>HTML (intermediate)</span></li>
					               <li class="c15 c29"><span>CSS (intermediate)</span></li>
					               <li class="c15 c29"><span>PHP (intermediate)</span></li>
					               <li class="c15 c29"><span>JQuery (beginner)</span></li>
					               <li class="c15 c29"><span>C++ (beginner)</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr>
					         <td class="c64">
					            <p class="c12 c46"><span class="c6">Strengths</span></p>
					         </td>
					         <td class="c63">
					            <ul class="c36 lst-kix_whw7iiqotgc8-0 start">
					               <li class="c15 c29"><span>Hard-working</span></li>
					               <li class="c15 c29"><span>Documentation</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr>
					         <td class="c64">
					            <p class="c12 c46"><span class="c6">Technical/Professional Experience</span></p>
					         </td>
					         <td class="c63">
					            <ul class="c36 lst-kix_ayguuw1710jx-0 start">
					               <li class="c15 c29"><span>Personal Project, ~1 year</span></li>
					            </ul>
					            <ul class="c36 lst-kix_ayguuw1710jx-1 start">
					               <li class="c12 c37"><span>Java</span></li>
					            </ul>
					            <ul class="c36 lst-kix_ayguuw1710jx-0">
					               <li class="c15 c29"><span>Internship at ERP Guru, ~ 4 months</span></li>
					            </ul>
					            <ul class="c36 lst-kix_ayguuw1710jx-1">
					               <li class="c12 c37"><span>JavaScript </span></li>
					               <li class="c12 c37"><span>HTML </span></li>
					               <li class="c12 c37"><span>CSS</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c64">
					            <p class="c12 c33"><span class="c6">Personality Characteristics </span></p>
					         </td>
					         <td class="c63">
					            <p class="c12 c33"><span>Introverted, Sensing, Thinking, Perceiving</span></p>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c64">
					            <p class="c12 c33"><span class="c6">Availability</span></p>
					         </td>
					         <td class="c63">
					            <p class="c12 c33"><span>Full-Time Student, ~8 hours/week contribution</span></p>
					         </td>
					      </tr>
					   </tbody>
					</table>
					<p class="c17"><span></span></p>
					<p class="c17"><span></span></p>
					<a href="#" name="b485cdb704bc2254d46ac1fe27b5f6b56846efd0"></a><a href="#" name="2"></a>
					<table cellpadding="0" cellspacing="0" class="table table-bordered table-condensed">
					   <tbody>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><img height="140" src="images/liem.png" width="107"></p>
					         </td>
					         <td class="c8">
					            <p class="c17 c39"><span></span></p>
					            <p class="c17 c39"><span></span></p>
					            <p class="c17 c39"><span></span></p>
					            <p class="c17 c39"><span></span></p>
					            <p class="c18"><span>Ma, Liem</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c18"><span class="c6">Student ID</span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>6286364</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c18"><span class="c6">Role(s)</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_u2m8twfhhgsg-0">
					               <li class="c15"><span>Documenter</span></li>
					               <li class="c15"><span>Tester</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Technical Knowledge</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_v7y9tdh2ny9t-0">
					               <li class="c15"><span>Java (Intermediate)</span></li>
					               <li class="c15"><span>Javascript (Intermediate)</span></li>
					               <li class="c15"><span>HTML (Intermediate)</span></li>
					               <li class="c15"><span>CSS (Intermediate)</span></li>
					               <li class="c15"><span>PHP (Beginner)</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Strengths</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_whw7iiqotgc8-0">
					               <li class="c15"><span>Team player</span></li>
					               <li class="c15"><span>Documentation</span></li>
					               <li class="c15"><span>Curious</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Technical/Professional Experience</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_mwnakp6rr1va-0 start">
					               <li class="c15"><span>Personal project<br>Java<br>Javascript</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c12 c33"><span class="c6">Personality Characteristics </span></p>
					         </td>
					         <td class="c8">
					            <p class="c12 c33"><span>Introvert, Sensing, Thinking, Perceiving</span></p>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Availability</span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>Full-Time Student, ~10 hours/week</span></p>
					         </td>
					      </tr>
					   </tbody>
					</table>
					<p class="c17"><span></span></p>
					<p class="c17"><span></span></p>
					<a href="#" name="28b369633b201e1fa9a618c7357a6afc4accff3f"></a><a href="#" name="3"></a>
					<table cellpadding="0" cellspacing="0" class="table table-bordered table-condensed">
					   <tbody>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Name</span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>Brunet, Renaud</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c18"><span class="c6">Student ID</span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>6626742</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c18"><span class="c6">Role(s)</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_u2m8twfhhgsg-0">
					               <li class="c15"><span>Programmer</span></li>
					               <li class="c15"><span>Tester</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Technical Knowledge</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_v7y9tdh2ny9t-0">
					               <li class="c15"><span>Java (Intermediate)</span></li>
					               <li class="c15"><span>Javascript (Intermediate)</span></li>
					               <li class="c15"><span>HTML (Intermediate)</span></li>
					               <li class="c15"><span>CSS (Intermediate)</span></li>
					               <li class="c15"><span>PHP (Beginner)</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Strengths</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_whw7iiqotgc8-0">
					               <li class="c15"><span>Independent</span></li>
					               <li class="c15"><span>Organize</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Technical/Professional Experience</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_mwnakp6rr1va-0">
					               <li class="c15"><span>Personal project(C#, Java)</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c12 c33"><span class="c6">Personality Characteristics </span></p>
					         </td>
					         <td class="c8">
					            <p class="c12 c33"><span>Introvert, Intuitive, Thinking, Judging</span></p>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Availability</span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>Full time student</span></p>
					         </td>
					      </tr>
					   </tbody>
					</table>
					<p class="c17"><span></span></p>
					<p class="c17"><span></span></p>
					<a href="#" name="1216d8ac4f15b89b9a863205d2039130df39c473"></a><a href="#" name="4"></a>
					<table cellpadding="0" cellspacing="0" class="table table-bordered table-condensed">
					   <tbody>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><img height="117" src="images/mridula.jpg" width="117"></p>
					         </td>
					         <td class="c8">
					            <p class="c17 c39"><span></span></p>
					            <p class="c17 c39"><span></span></p>
					            <p class="c17 c39"><span></span></p>
					            <p class="c18"><span>Dubey, Mridula</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c18"><span class="c6">Student ID</span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>6319173</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c18"><span class="c6">Role(s)</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_cg84f8p8mu4m-0 start">
					               <li class="c15"><span>Tester</span></li>
					               <li class="c15"><span>Documenter</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Technical Knowledge</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_v7y9tdh2ny9t-0">
					               <li class="c15"><span>Java (intermediate)</span></li>
					               <li class="c15"><span>JavaScript (intermediate)</span></li>
					               <li class="c15"><span>HTML (intermediate)</span></li>
					               <li class="c15"><span>CSS (intermediate)</span></li>
					               <li class="c15"><span>PHP (beginner)</span></li>
					               <li class="c15"><span>SAP (intermediate)</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Strengths</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_whw7iiqotgc8-0">
					               <li class="c15"><span>Team Player</span></li>
					               <li class="c15"><span>Organized</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Technical/Professional Experience</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_1lt6jyeza2bf-0 start">
					               <li class="c15"><span>Internship at Bombardier &nbsp;Aerospace ~ 2 years</span></li>
					            </ul>
					            <ul class="c36 lst-kix_mwnakp6rr1va-1 start">
					               <li class="c50 c18"><span class="c66">SAP Security module</span></li>
					               <li class="c50 c18"><span class="c66">Support the deployment of SAP Suites as per project requirements </span></li>
					            </ul>
					            <p class="c17 c39"><span class="c66"></span></p>
					            <ul class="c36 lst-kix_1lt6jyeza2bf-0">
					               <li class="c15"><span class="c66">Intern Summer Project (Team Project): </span></li>
					            </ul>
					            <ul class="c36 lst-kix_1lt6jyeza2bf-1 start">
					               <li class="c18 c50"><span class="c66">Part of Bombardier Achieving Excellence System (AES) to plan program and deploy on a television a visual board for the IT Operations department</span></li>
					            </ul>
					            <p class="c17 c39 c53"><span class="c66"></span></p>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c12 c33"><span class="c6">Personality Characteristics </span></p>
					         </td>
					         <td class="c8">
					            <p class="c12 c33 c53 c60"><span>Introvert,Sensing, feeling and Judging</span></p>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Availability</span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>Full-Time Student, ~8 or more hours/week contribution or as per the team/project requirement</span></p>
					         </td>
					      </tr>
					   </tbody>
					</table>
					<p class="c17"><span class="c21"></span></p>
					<p class="c17"><span></span></p>
					<p class="c17"><span></span></p>
					<p class="c17"><span></span></p>
					<p class="c17"><span></span></p>
					<p class="c17"><span></span></p>
					<a href="#" name="35a32c537dceb5422793f5598b99e7f2a17fc526"></a><a href="#" name="5"></a>
					<table cellpadding="0" cellspacing="0" class="table table-bordered table-condensed">
					   <tbody>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><img height="120" src="images/mark.jpg" width="122"></p>
					         </td>
					         <td class="c8">
					            <p class="c17 c39"><span></span></p>
					            <p class="c17 c39"><span></span></p>
					            <p class="c18"><span>Massoud, Mark</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c18"><span class="c6">Student ID</span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>6599486</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c18"><span class="c6">Role(s)</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_cg84f8p8mu4m-0">
					               <li class="c15"><span>Tester</span></li>
					               <li class="c15"><span>Documenter</span></li>
					               <li class="c15"><span>UI Designer</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Technical Knowledge</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_v7y9tdh2ny9t-0">
					               <li class="c15"><span>Ajax (beginner)</span></li>
					               <li class="c15"><span>JavaScript </span></li>
					               <li class="c15"><span>HTML/CSS3</span></li>
					               <li class="c15"><span>PHP</span></li>
					               <li class="c15"><span>Web Designer (Bootstrap, responsive templates)</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Strengths</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_whw7iiqotgc8-0">
					               <li class="c15"><span>Not Organized, but I always do my part meticulously</span></li>
					               <li class="c15"><span>Work better under time pressure</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Technical/Professional Experience</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_1lt6jyeza2bf-0">
					               <li class="c15"><span>Developing websites for clients and for personal projects</span></li>
					            </ul>
					            <p class="c17 c39 c53"><span class="c66"></span></p>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c12 c33"><span class="c6">Personality Characteristics </span></p>
					         </td>
					         <td class="c8">
					            <p class="c12 c33"><span>Introverted, Intuitive, Thinking, Perceiving</span></p>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Availability</span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>Full-Time Student, Working all weekends, contributing ~ 5 hours/week</span></p>
					         </td>
					      </tr>
					   </tbody>
					</table>
					<p class="c17"><span class="c21"></span></p>
					<p class="c17"><span></span></p>
					<a href="#" name="7a507dc533d45d808cd388f64d468395d33d04b6"></a><a href="#" name="6"></a>
					<table cellpadding="0" cellspacing="0" class="table table-bordered table-condensed">
					   <tbody>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><img height="129" src="images/kenny.png" width="104"></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>Kwan, Kenny</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c18"><span class="c6">Student ID</span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>9591648</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c18"><span class="c6">Role(s)</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_u2m8twfhhgsg-0">
					               <li class="c15"><span class="c41">Tester</span></li>
					               <li class="c15"><span class="c41">Documenter</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Technical Knowledge</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_v7y9tdh2ny9t-0">
					               <li class="c15"><span>Java (intermediate)</span></li>
					               <li class="c15"><span>JavaScript (intermediate)</span></li>
					               <li class="c15"><span>HTML (intermediate)</span></li>
					               <li class="c15"><span>CSS (intermediate)</span></li>
					               <li class="c15"><span>PHP (intermediate)</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Strengths</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_whw7iiqotgc8-0">
					               <li class="c15"><span>Organization</span></li>
					               <li class="c15"><span>Documentation</span></li>
					               <li class="c15"><span>Communication</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Technical/Professional Experience</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_ayguuw1710jx-0">
					               <li class="c15"><span>Personal Project</span></li>
					            </ul>
					            <ul class="c36 lst-kix_ayguuw1710jx-1">
					               <li class="c50 c18"><span>Android</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c12 c33"><span class="c6">Personality Characteristics </span></p>
					         </td>
					         <td class="c8">
					            <p class="c12 c33"><span>Introverted, Sensing, Thinking, Judging</span></p>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Availability</span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>Full-Time Student, ~8 hours/week contribution</span></p>
					         </td>
					      </tr>
					   </tbody>
					</table>
					<p class="c17"><span class="c21"></span></p>
					<p class="c17 c42"><span></span></p>
					<a href="#" name="454049b1c499d72639ccc1200b69a2c0da618a20"></a><a href="#" name="7"></a>
					<table cellpadding="0" cellspacing="0" class="table table-bordered table-condensed">
					   <tbody>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c12"><img height="120" src="images/leo.jpg" width="120"></p>
					         </td>
					         <td class="c8">
					            <p class="c12"><span>Collard, Leo</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c12"><span class="c6">Student ID</span></p>
					         </td>
					         <td class="c8">
					            <p class="c12"><span>6624480</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c12"><span class="c6">Role(s)</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_u2m8twfhhgsg-0">
					               <li class="c15 c42"><span>Programmer</span></li>
					               <li class="c15 c42"><span>Documenter</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c12"><span class="c6">Technical Knowledge</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_v7y9tdh2ny9t-0">
					               <li class="c15 c42"><span>Java</span></li>
					               <li class="c15 c42"><span>Internship Ericsson, 4 months:</span></li>
					            </ul>
					            <ul class="c36 lst-kix_v7y9tdh2ny9t-1 start">
					               <li class="c12 c50"><span>JavaScript/Jquery</span></li>
					               <li class="c12 c50"><span>Node.js</span></li>
					               <li class="c12 c50"><span>HTML</span></li>
					               <li class="c12 c50"><span>CSS</span></li>
					               <li class="c12 c50"><span>MongoDB</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c12"><span class="c6">Strengths</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_whw7iiqotgc8-0">
					               <li class="c15 c42"><span>Organization</span></li>
					               <li class="c15 c42"><span>Programming</span></li>
					               <li class="c15 c42"><span>Team Interactions</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c12"><span class="c6">Technical/Professional Experience</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_ayguuw1710jx-0">
					               <li class="c15 c42"><span>Internship at Ericsson</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c12 c33"><span class="c6">Personality Characteristics </span></p>
					         </td>
					         <td class="c8">
					            <p class="c12 c33 c53 c60"><span>Extroverted, Sensing, Thinking, Judging</span></p>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c12"><span class="c6">Availability</span></p>
					         </td>
					         <td class="c8">
					            <p class="c12"><span>Full-Time Student, ~8 hours/week contribution</span></p>
					         </td>
					      </tr>
					   </tbody>
					</table>
					<p class="c17 c42"><span class="c11"></span></p>
					<p class="c17 c42"><span class="c11"></span></p>
					<p class="c17"><span></span></p>
					<a href="#" name="b5c80e9c9dcde7422b8de3a0842e2708273a80a1"></a><a href="#" name="8"></a>
					<table cellpadding="0" cellspacing="0" class="table table-bordered table-condensed">
					   <tbody>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><img height="120" src="images/islam.jpg" width="120"></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>Islam, Md. Eftakhairul</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c18"><span class="c6">Student ID</span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>6991432</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c18"><span class="c6">Role(s)</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_u2m8twfhhgsg-0">
					               <li class="c15"><span>Programmer</span></li>
					               <li class="c15"><span>Documenter</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Technical Knowledge</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_v7y9tdh2ny9t-0">
					               <li class="c15"><span>Java</span></li>
					               <li class="c15"><span>Ruby</span></li>
					               <li class="c15"><span>PHP</span></li>
					               <li class="c15"><span>JavaScript/Jquery</span></li>
					               <li class="c15"><span>Node.js</span></li>
					               <li class="c15"><span>HTML</span></li>
					               <li class="c15"><span>CSS</span></li>
					               <li class="c15"><span>MongoDB, MySQL, </span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Strengths</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_whw7iiqotgc8-0">
					               <li class="c15"><span>Organization</span></li>
					               <li class="c15"><span>Programming</span></li>
					               <li class="c15"><span>Team Interactions</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Technical/Professional Experience</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_ayguuw1710jx-0">
					               <li class="c15"><span>3 years job experiences</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Personality Characteristics </span></p>
					         </td>
					         <td class="c8">
					            <p class="c18 c53 c60"><span>Extroverted, Sensing, Thinking</span></p>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Availability</span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>&nbsp; &nbsp; &nbsp; &nbsp;Full-Time Student, ~8 hours/week contribution</span></p>
					         </td>
					      </tr>
					   </tbody>
					</table>
					<p class="c17"><span class="c11"></span></p>
					<p class="c17"><span></span></p>
					<a href="#" name="d717f800f5f164521af048f2343cc79f6288c5d3"></a><a href="#" name="9"></a>
					<table cellpadding="0" cellspacing="0" class="table table-bordered table-condensed">
					   <tbody>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><img height="148" src="images/alain.png" width="148"></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>Fallara, Alain</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c18"><span class="c6">Student ID</span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>1739638</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c18"><span class="c6">Role(s)</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_u2m8twfhhgsg-0">
					               <li class="c15"><span>Tester</span></li>
					               <li class="c15"><span>Documenter</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Technical Knowledge</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_v7y9tdh2ny9t-0">
					               <li class="c15"><span>Java</span></li>
					               <li class="c15"><span>JavaScript</span></li>
					               <li class="c15"><span>HTML</span></li>
					               <li class="c15"><span>CSS</span></li>
					               <li class="c15"><span>PHP</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Strengths</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_whw7iiqotgc8-0">
					               <li class="c15"><span>Organization</span></li>
					               <li class="c15"><span>Programming</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Technical/Professional Experience</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_7f7ou6afl6g4-0 start">
					               <li class="c15"><span>Websites</span></li>
					               <li class="c15"><span>java personal projects</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c12 c33"><span class="c6">Personality Characteristics </span></p>
					         </td>
					         <td class="c8">
					            <p class="c12 c33"><span>Introverted, intuitive, thinking, judging </span></p>
					            <p class="c12 c33 c38"><span></span></p>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Availability</span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>Full-Time Student, ~8 hours/week contribution</span></p>
					         </td>
					      </tr>
					   </tbody>
					</table>
					<p class="c17"><span class="c11"></span></p>
					<p class="c17"><span class="c11"></span></p>
					<p class="c17"><span></span></p>
					<a href="#" name="b7c4bc091bb1d9471e91385447849196866f9b4b"></a><a href="#" name="10"></a>
					<table cellpadding="0" cellspacing="0" class="table table-bordered table-condensed">
					   <tbody>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><img height="148" src="images/abdnour.png" width="148"></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>Abdenour, Djafri</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c18"><span class="c6">Student ID</span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>5653223</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c18"><span class="c6">Role(s)</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_u2m8twfhhgsg-0">
					               <li class="c15"><span>Documentor</span></li>
					               <li class="c15"><span>Designer</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Technical Knowledge</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_v7y9tdh2ny9t-0">
					               <li class="c15"><span>Java</span></li>
					               <li class="c15"><span>JavaScript</span></li>
					               <li class="c15"><span>HTML</span></li>
					               <li class="c15"><span>CSS</span></li>
					               <li class="c15"><span>PHP</span></li>
					               <li class="c15"><span>Delphi</span></li>
					               <li class="c15"><span>Prolog</span></li>
					               <li class="c15"><span>Ruby</span></li>
					               <li class="c15"><span>SQL</span></li>
					               <li class="c15"><span>Oracle 9i</span></li>
					               <li class="c15"><span>Data base modeling</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Strengths</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_whw7iiqotgc8-0">
					               <li class="c15"><span>Objectif</span></li>
					               <li class="c15"><span>Vision</span></li>
					               <li class="c15"><span>Organization</span></li>
					               <li class="c15"><span>Programming</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Technical/Professional Experience</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_v7y9tdh2ny9t-0">
					               <li class="c15"><span>Designed some business and management software. </span></li>
					            </ul>
					            <p class="c17 c39"><span></span></p>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Personality Characteristics </span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>Intuitive, thinking, judging, sensing</span></p>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Availability</span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>Full-Time Student, ~8 hours/week contribution, not available on the weekends.</span></p>
					         </td>
					      </tr>
					   </tbody>
					</table>
					<p class="c17"><span class="c11"></span></p>
					<p class="c17 c42"><span></span></p>
					<a href="#" name="26921e179e64f7eeb249e0723b50facc501e45e8"></a><a href="#" name="11"></a>
					<table cellpadding="0" cellspacing="0" class="table table-bordered table-condensed">
					   <tbody>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c12"><img height="100" src="images/justin.png" width="100"></p>
					         </td>
					         <td class="c8">
					            <p class="c12"><span>Do, Justin Trong Huan</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c12"><span class="c6">Student ID</span></p>
					         </td>
					         <td class="c8">
					            <p class="c12"><span>6600514</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c12"><span class="c6">Role(s)</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_u2m8twfhhgsg-0">
					               <li class="c15 c42"><span>Programmer</span></li>
					               <li class="c15 c42"><span>Designer</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c12"><span class="c6">Technical Knowledge</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_v7y9tdh2ny9t-0">
					               <li class="c15 c42"><span>HTML</span></li>
					               <li class="c15 c42"><span>C++</span></li>
					               <li class="c15 c42"><span>SQL</span></li>
					               <li class="c15 c42"><span>HTML</span></li>
					               <li class="c15 c42"><span>PHP</span></li>
					               <li class="c15 c42"><span>JAVA</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c12"><span class="c6">Strengths</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_whw7iiqotgc8-0">
					               <li class="c15 c42"><span>Creative</span></li>
					               <li class="c15 c42"><span>Team player</span></li>
					               <li class="c15 c42"><span>Objective</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c12"><span class="c6">Technical/Professional Experience</span></p>
					         </td>
					         <td class="c8">
					            <p class="c12"><span>CAE Internship, use of C++</span></p>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c12"><span class="c6">Personality Characteristics </span></p>
					         </td>
					         <td class="c8">
					            <p class="c12"><span>Introverted, intuitive, thinking, judging </span></p>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c12"><span class="c6">Availability</span></p>
					         </td>
					         <td class="c8">
					            <p class="c12"><span>Full-Time Student, ~8 hours/week contribution.</span></p>
					         </td>
					      </tr>
					   </tbody>
					</table>
					<p class="c17 c42"><span class="c11"></span></p>
					<p class="c17"><span></span></p>
					<a href="#" name="8e671fa5419cc8ad2c2e107133f9dfd0ab5c9575"></a><a href="#" name="12"></a>
					<table cellpadding="0" cellspacing="0" class="table table-bordered table-condensed">
					   <tbody>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Name</span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>Pirasath</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c18"><span class="c6">Student ID</span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>6631258</span></p>
					         </td>
					      </tr>
					      <tr class="c25">
					         <td class="c28">
					            <p class="c18"><span class="c6">Role(s)</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_u2m8twfhhgsg-0">
					               <li class="c15"><span>Documenter</span></li>
					               <li class="c15"><span>Programmer</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Technical Knowledge</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_v7y9tdh2ny9t-0">
					               <li class="c15"><span>HTML</span></li>
					               <li class="c15"><span>CSS</span></li>
					               <li class="c15"><span>JS</span></li>
					               <li class="c15"><span>Java</span></li>
					               <li class="c15"><span>C#</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Strengths</span></p>
					         </td>
					         <td class="c8">
					            <ul class="c36 lst-kix_whw7iiqotgc8-0">
					               <li class="c15"><span>Organized</span></li>
					               <li class="c15"><span>Punctual</span></li>
					               <li class="c15"><span>Programming</span></li>
					            </ul>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Technical/Professional Experience</span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>Genetec internship, work in C#</span></p>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Personality Characteristics </span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>Introverted, sensing, thinking, judging </span></p>
					         </td>
					      </tr>
					      <tr class="c10">
					         <td class="c28">
					            <p class="c18"><span class="c6">Availability</span></p>
					         </td>
					         <td class="c8">
					            <p class="c18"><span>Full-Time Student, ~8 hours/week contribution.</span></p>
					         </td>
					      </tr>
					   </tbody>
					</table>
					</p>
					<br/>
					<h2>Thanks</h2>
					<br/>
	        		<p class="text-justify">We would like to thank all those that have made this project possible. Special thanks to Dr. Fancott and Mr. Morse.</p>
	        </div>
        </div>
    </div>
</div>

<%- partial('../template/partials/footer') %>